@media screen and (max-width: 991px) {
    .navbar-nav li.nav-item {
        margin: 15px 0;
        text-align: center;
    }
    .navbar-brand {
        margin-left: 15px;
    }
    .navbar-nav-bg {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .main-content .type {
        font-size: 45px;
    }
}

@media screen and (max-width: 767px) {
    .about .col-md-7 {
        margin-top: 60px;
    }
    .main-content .type {
        font-size: 33px;
    }
    /* .exp-skills {
        height: 0px;
    } */
}

@media screen and (max-width: 375px) {
    .main-content {
        margin-top: 200px;
    }
    .main-content .type {
        font-size: 15px;
        /* margin-bottom: 50px; */
        text-align: justify;
        padding: 40px;
    }
    .social-icons {
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .cta {
        padding: 10px 30px;
        font-size: 12px;
        margin-top: 20px;
    }
    .contact i.fa {
        margin-right: 0;
    }
    ul.filter li {
        margin: 10px;
    }
    .main {
        background-size: 375px 675px;
        background-position: center;
    }
    .exp-skills {
        background-size: 375px 375px;
        background-position: center;
    }
    .projects {
        background-size: 375px 375px;
        background-position: center;
    }
    .contact {
        background-size: 375px 375px;
        background-position: center;
    }
}